body {
  background: white;
  color: black;
  font-family: 'Titillium Web', sans-serif;
}
  #banner {
    margin: 25px 10px 0px 0px;
    text-transform: uppercase;
    display: none;
    text-align: center;
    justify-content: space-between;
    z-index: 1;
  }
  .info-feed {
    position: fixed;
    z-index: 1;
  }
    ul {
      list-style-type:circle;
    }
    .nav-card {
      text-transform: uppercase;
    }
    .card {
      margin-top: 10px;
      border: solid 1px black;
      padding: 6px 15px 0px 15px;
      min-width: 200px;
    }
    #about-card, #contact-card, #news-card, #follow-card, #clear-trigger {
      display: none;
      opacity: 0;
    }
    #about-card.is-visible, #contact-card.is-visible, #news-card.is-visible, #follow-card.is-visible, #clear-trigger.is-visible {
      display: inherit;
      opacity: 1;
    }
    #clear-trigger {
      text-align: right;
      margin-top: 5px;
      min-width: 185px;
    }
    a {
      color: black;
    }
    a:hover {
      cursor: pointer;
      color: black;
    }
    a:visited, a:focus{
      text-decoration: none;
    }
/*Navigation Components*/
    .jumplink {
      visibility: hidden;
    }
/*Artwork Feed*/
  .img-feed {
    margin-top: 50px;
  }
  .img-reel {
    max-width: 960px;
  }
  .artwork {
    margin-bottom: 10px;
  }
  #y {
    width: 100%;
  }
  #open-popup:hover {
    cursor:pointer;
  }
/*Footer*/
  #footer {
    margin: 25px 0px 20px 0px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
/*Media*/
@media (max-width: 1250px) {
  body {
    font-size: 11px;
  }
@media (max-width: 1000px) {
  body {
    font-size: 10px;}
  #banner {
    display: flex;}
  .info-feed {
    position: relative;}
  .nav-card {
    display: none;}
  .img-feed {
    margin-top: 25px;}
  .img-reel {
    width: 100%;}
@media (max-width: 700px) {
  body {
    font-size: 9px;
  }
